html, body {
    height: 100% !important;
    font-family: 'Lancelot', cursive;
    font-size: 22px;
    line-height: 27px;
    color: #9e9e9e;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
    background-color: #191970;
}
.container{
     position: relative;
     height: 100%;
     padding: 20px;
}
footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}
article{
    text-align: center;
    font-size: 3em;
    margin: 150px 0;
    line-height: 3em;
}
article span{
    font-size: 1.5em;
}